body {
    font-family:arial, sans-serif;
    background: black;
}

ul {
    list-style-type:none;
    margin-right: auto;
    margin-left: auto;
}

ul li a {
	text-decoration:none;
    color:white;
}
p {
    color: #ffffff;
}

#openingTable {
	margin-right: 0;
	margin-left: 0;
}

#openingTable td img {
	margin-top: 150px;
	margin-bottom: 250px;
}

#arrows {
	margin-left: auto;
	margin-right:auto;
	position: inherit;
	background-color: white;
}

footer {
	background-color: #000000;
}

h1 {
	font-family: arial, sans-serif;
	color: rgb(75, 135, 245);
	font-size: 20px;
	margin-left: 45%;
	margin-right:45%;
}
h2 {
	font-family: arial, sans-serif;
	color: rgb(75, 135, 245);
	font-size: 11px;
	margin-left: 44%;
	margin-right: 40%;
}